@using Microsoft.AspNet.Identity
@model Dexpa.WebSite.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

<div class="row">
    <div class="col-sm-4">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Текущий пароль" })
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль" })
    </div>
</div>
<div class="row bottomBorder">
    <div class="col-sm-4">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтверждение нового пароля" })
    </div>
</div>
